# IntelliJ IDEA
/.idea/
*.iml
out/

# Maven
/target/
!target/.gitkeep

# Logs
/logs
/log/
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
/build/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse (если кто-то использует Eclipse)
.settings/
.classpath
.project

# Maven Wrapper
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# Spring Boot specific (if you generate executable jar)
*.jar
!*.jar

# Other IDEs or tools (if applicable)
.vscode/
.idea/