<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculations</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
    <div class="header-buttons">
        <a th:href="@{/customers/create}">
            <button type="button" class="yellow-btn">Создать нового Заказчика</button>
        </a>
        <a th:href="@{/calculations}">
            <button type="button" class="yellow-btn">Расценки</button>
        </a>
    </div>
</div>
<div class="main-content">
    <div class="left-content" id="leftContent">
        <table class="table-left" id="table-menu-sort">
            <thead class="left-table-head">
            <tr class="searching-tr">
                <td class="idMenu">
                    <button class="main-tr-buttons yellow-btn" id="resetFilters"
                            title="Очистить фильтры и сортировку" style="text-align: center">🧹
                    </button>
                </td>
                <td class="customerNameHead">
                    <label><input type="text" class="search-input" id="customerNameHead" placeholder="🔎поиск..."></label>
                </td>
                <td class="customerInnHead">
                    <label><input type="text" class="search-input" id="customerInnHead" placeholder="🔎поиск..."></label>
                </td>
                <td class="mainActivityHead">
                    <label><input type="text" class="search-input" id="mainActivityHead" placeholder="🔎поиск..."></label>
                </td>
            </tr>
            <tr class="main-tr">
                <th data-column="idMenu" class="idMenu" style="text-align: center">#ID</th>
                <th data-column="customerNameHead" class="customerNameHead">
                    <button data-column="customerNameHead" type="button" class="main-tr-buttons blue-btn">Наименование</button>
                </th>
                <th data-column="customerInnHead" class="customerInnMHead">
                    <button data-column="customerInnHead" type="button" class="main-tr-buttons blue-btn">ИНН</button>
                </th>
                <th data-column="mainActivityHead" class="mainActivityHead">
                    <button data-column="mainActivityHead" type="button" class="main-tr-buttons blue-btn">Основной вид деятельности</button>
                </th>
            </tr>
            </thead>
            <tbody class="left-table-body">
            <tr th:each="cust : ${customers}"
                th:attr="data-url=@{/customers/{id}(id=${cust.id()})}" class="clickable-row">
                <td th:text="${cust.id()}"></td>
                <td th:text="${cust.customerName()}"></td>
                <td th:text="${cust.customerINNCode()}"></td>
                <td th:text="${cust.mainActivity()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="right-content" id="rightContent">
        Для отображения деталей выберите нужный элемент слева
    </div>
</div>
<div class="footer">

</div>
<script th:src="@{/script/open_window.js}"></script>
<script th:src="@{/script/member_scrolls_positions.js}"></script>
<script th:src="@{/script/table-menu-sort.js}"></script>
<script th:src="@{/script/customer_filter.js}"></script>
</body>
</html>